.my-page-setting-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-playlist-image {
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
  background-size: cover;
  background-position: center;
  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; /* 16:9 */
  }
}

.user-setting-form {
  width: 100%;
  max-width: 352px;
  margin-left: 20px;
  text-align: right;
  label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
  }
  input {
    width: 100%;
    max-width: 200px;
    height: 40px;
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 0 20px;
    margin-bottom: 10px;
  }
}

.user-setting-submit-button {
  height: 40px;
  padding: 0 20px;
  margin-top: 20px;
  background-color: $lightgray;
  border-radius: 20px;
  border: 1px solid $black;
  font-size: 16px;
  &:hover {
    background-color: $green;
  }
}

.my-page-playlist-section {
  margin-top: 70px;
}

.my-playlist-title {
  font-size: 2rem;
  text-align: center;
}
.my-playlist {
  max-width: 900px;
  border-top: 1px solid $black;
  margin: 30px auto 0;
}
.my-playlist-item {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid $black;
  img {
    width: 110px;
    border-radius: 5px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $black;
    background: none;
    &:hover {
      background-color: $green;
    }
    &.song-delete-button:hover {
      background-color: $red;
    }
    i {
      font-size: 20px;
    }
  }
}

.my-playlist-song-info-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0 30px;
}

.song-info-title-artist-container {
  padding-left: 30px;
}

.playlist-song-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 20px;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist-song-artist {
  color: $gray;
  padding-top: 3px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 920px) {
  .my-page-setting-section {
    flex-direction: column;
  }

  .user-setting-form {
    margin-top: 20px;
    margin-left: none;
    width: auto;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .my-playlist-song-info-container {
    padding: 0 20px;
  }
  .my-playlist-item {
    padding: 0 10px;
  }
  .user-setting-form input {
    width: 160px;
  }
  .user-setting-form label {
    width: 92px;
  }
  .song-info-title-artist-container {
    padding-left: 10px;
  }
  .playlist-song-title {
    margin-right: 0;
  }
  .my-playlist-title {
    font-size: 1.5rem;
  }
  .playlist-song-artist {
    max-width: 75px;
  }
}
