.music-player-article {
  display: flex;
  width: 100%;
}

.music-player-section {
  position: relative;
  flex-basis: 75%;
  &::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; /* 16:9 */
  }
}

#video-player {
  position: absolute;
  top: 0;
}

.playlist-and-search-section {
  flex-basis: 25%;
  min-width: 320px;
  height: 489px;
  margin-left: 10px;
  overflow: hidden;
}

.playlist-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 5px 44px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.search-section {
  margin-bottom: 10px;
  box-sizing: border-box;
}

#search-form {
  display: flex;
  justify-content: center;
  padding: 2px 10px;
  border: 1px solid $gray;
  border-radius: 50px;
  box-sizing: border-box;
}
.search-result-form {
  padding: 10px 5px 0;
  display: none;
  &.open {
    display: block;
  }
}

.search-input {
  width: 100%;
  padding: 0 5px;
  border: none;
  background: none;
}
.search-button {
  padding: 0;
  border: none;
  background: none;
}
.search-result-container {
  display: flex;
}
.search-result-img {
  width: 100px;
  height: fit-content;
}
.search-result-info {
  padding-left: 5px;
  line-height: 25px;
  font-size: 14px;
}
.search-result-title,
.search-result-artist {
  display: flex;
  align-items: center;
  input {
    width: 60%;
    height: 22px;
    flex-grow: 1;
    margin-left: 5px;
    border: 1px solid #c1c1c1;
    border-radius: 6px;
    background: none;
  }
}
.search-result-title {
  margin-bottom: 5px;
}

.search-result-button-container {
  display: flex;
  margin-top: 10px;
  button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
  }
}
.search-result-add-button {
  background-color: $green;
  margin-left: 5px;
}
.playlist-empty-message {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  font-size: 14px;
  color: #969696;
  text-align: center;
  &.hide {
    display: none;
  }
}

.my-playlist-player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1548192746-dd526f154ed9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-position: center;
}

.my-playlist-player-title {
  font-weight: bold;
  font-size: 4.5rem;
  text-align: center;
}

.my-playlist-player-song-info {
  text-align: center;
  margin: 30px 0;
}

.music-playlist {
  border-top: 1px solid $black;
}
.music-playlist-item {
  position: relative;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid $black;
  cursor: pointer;
  &:hover {
    background-color: $green;
  }
}
.music-playlist-song-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  padding-left: 10px;
  padding-right: 45px;
  box-sizing: border-box;
}
.music-playlist-song-img {
  width: 120px;
}
.music-playlist-song-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.music-playlist-song-artist {
  margin-top: 5px;
  color: $gray;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist-song-play-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 6px;
  border: 1px solid #141414;
  border-radius: 100px;
  background: none;
  font-size: 22px;
}

@media (max-width: 1080px) {
  .playlist-and-search-section {
    height: 400px;
  }
}

@media (max-width: 970px) {
  .music-player-article {
    display: block;
  }
  .playlist-and-search-section {
    margin-top: 10px;
  }

  .music-playlist-song-info-container {
    width: auto;
  }
}

@media (max-width: 767px) {
  .my-playlist-player-title {
    font-size: 3.5rem;
  }
  .my-playlist-player-song-info {
    margin: 20px 0;
  }
}

@media (max-width: 415px) {
  .music-playlist-song-info-container {
    width: 180px;
  }

  .my-playlist-player-title {
    font-size: 3rem;
  }
  .my-playlist-player-song-info {
    font-size: 14px;
  }
}
