doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="shortcut icon", type="image/png", href="https://user-images.githubusercontent.com/108856689/233608013-1a97ce29-3a27-447b-bded-e9e9e90af53d.png")
        meta(name="description", content="My Playlist | 나만의 플레이리스트를 만들어보세요!")
        meta(name="keywords", content="music, playlist, mypli")
        meta(name="author", content="deun")
    body
        include partials/header                
        main
            block content
        include partials/footer
        block footerBottom
    script(src="/static/js/main.js")
    block scripts
