article.music-player-article
    section.search-section
        form#search-form
            input.search-input(type="text" placeholder="Youtube 영상 url을 입력하세요." name="search" style={width: "300px"})
            button.search-button(type="submit")
                i.material-icons search
        div.search-result