article.music-player-article
    section.music-player-section
        div#video-player
    section.playlist-section
        ul.music-playlist 
    section.search-section
        form#search-form
            input.search-input(type="text" placeholder="Youtube URL을 입력하세요." name="search")
            button.search-button(type="submit")
                i.material-icons search
        div.search-result