footer
    div.footer-container
        p.footer-melon-info TOP100 차트는 멜론에서 제공하는 데이터를 이용하였습니다.
        p.footer-supported-media Supported Media: YouTube, Melon
        p.footer-copyright Copyright &copy; #{new Date().getFullYear()} deun. All Rights Reserved.